<div class="my-auto mx-5 sm:mx-50 p-5">
    <div class="text-center m-12">
        <h1>Login</h1>
    </div>
    <form [formGroup]="actorForm" (submit)="submitForm()">
        <div class="grid grid-cols-12 gap-10">
            <div class="col-span-12 sm:col-span-6">
                <p-inputgroup>
                    <p-floatlabel variant="on">
                        <input id="username" pInputText formControlName="username" />
                        <label for="username"> <fa-icon [icon]="['fas','user']" /> Username</label>
                    </p-floatlabel>
                </p-inputgroup>
            </div>
            <div class="col-span-12 sm:col-span-6">
                <p-inputgroup>
                    <p-floatlabel variant="on">
                        <input id="name" pInputText formControlName="name" />
                        <label for="name"><fa-icon [icon]="['far','user']" /> Name</label>
                    </p-floatlabel>
                </p-inputgroup>
            </div>
            <div class="col-span-12 sm:col-span-6">
                <p-inputgroup>
                    <p-floatlabel>
                        <p-password class="w-full" [inputStyle]="{'width': '100%'}" [style]="{'width': '100%'}"
                            id="password" formControlName="password" [feedback]="false" />
                        <label for="password"><fa-icon [icon]="['fas','lock']" /> Password</label>
                    </p-floatlabel>
                </p-inputgroup>
            </div>
            <div class="col-span-12 sm:col-span-6">
                <p-inputgroup>
                    <p-floatlabel variant="on">
                        <input id="email" pInputText formControlName="email" />
                        <label for="email"><fa-icon [icon]="['fas','at']" />Email</label>
                    </p-floatlabel>
                </p-inputgroup>
            </div>
            <div class="col-span-12 sm:col-span-6">
                <p-inputgroup>
                    <p-floatlabel variant="on">
                        <p-inputnumber inputId="integeronly" formControlName="mobileno" id="number" />
                        <label for="number"><fa-icon [icon]="['fas','mobile']" />Mobile</label>
                    </p-floatlabel>
                </p-inputgroup>
            </div>
            <div class="col-span-12 sm:col-span-6">
                <p-inputgroup>
                    <p-floatlabel variant="on">
                        <textarea id="about" class="w-full" pTextarea formControlName="about"></textarea>
                        <label for="about"><fa-icon [icon]="['fas','comment']" /> About</label>
                    </p-floatlabel>
                </p-inputgroup>
            </div>
            <div class="col-span-12 sm:col-span-6">
                <p-inputgroup>
                    <p-floatlabel>
                        <p-datepicker class="w-full" [readonlyInput]="true" [inputStyle]="{'width': '100%'}"
                            [style]="{'width': '100%'}" formControlName="dob" [dateFormat]="''" [showIcon]="true" id="dob"
                            inputId="buttondisplay" [showOnFocus]="false" />
                        <label for="about"><fa-icon [icon]="['fas','calendar-days']" /> Date of Birth</label>
                    </p-floatlabel>
                </p-inputgroup>
            </div>
            <div class="col-span-12 sm:col-span-6">
                <p-inputgroup>
                    <p-floatlabel variant="in">
                        <p-select id="pos" [options]="userType" optionLabel="name" placeholder="User Type"
                            class="w-full md:w-56" formControlName="type" />
                        <label for="pos"><fa-icon [icon]="['fas','person']" />User Type</label>
                    </p-floatlabel>
                </p-inputgroup>
            </div>
            <div class="col-span-12 sm:col-span-6">
                <p-inputgroup>
                    <p-floatlabel variant="on">
                        <input id="deg" pInputText formControlName="deg" />
                        <label for="deg"><fa-icon [icon]="['fas','person']" />Position</label>
                    </p-floatlabel>
                </p-inputgroup>
            </div>
        </div>
        <div class="flex flex-col ">
            <p-button class="mx-auto my-5" size="large" [label]="'Register'" [type]="'submit'"></p-button>
        </div>
    </form>
</div>